/* ===========================================================
 Page Layout
============================================================ */
main {
	--margin-standard: 3rem auto;
	
	margin: var(--margin-standard);
	max-width: 800px;
}

body {

	--margin-body: 1rem 3rem;
	--margin-secondary: 2rem 3rem;
}
/* ===========================================================
Colors
============================================================ */
html {
	--color-primary: #D48166;

	--color-primary-light: #FFB194;

	--color-primary-dark: #A0533B;

	--color-secondary-one: #373a36;

	--color-secondary-one-light: #616460;

	--color-secondary-one-dark: #111410;

	--color-secondary-two: #e6e2dd;

	--color-secondary-two-light: #FCFBF3;

	--color-secondary-two-dark: #c9c8c0;

	--color-action: #4E62CC;

	--color-positive: #C4FF94;

	--color-negative: #E86C64;

	--color-warning: #CC924E;

	--color-primary-text: #212121;

	--color-secondary-text: #424242;

	--color-disabled-text: #757575;
}
/* ===========================================================
 Typography
============================================================ */
html {
	--font-primary:'Raleway', sans-serif;
	--font-secondary:'Montserrat', sans-serif;

	--size-ratio: 1.3;
	--size-six-up: calc(var(--size-five-up)* var(--size-ratio));
	--size-five-up: calc(var(--size-four-up)* var(--size-ratio));
	--size-four-up: calc(var(--size-three-up)* var(--size-ratio));
	--size-three-up: calc(var(--size-two-up)* var(--size-ratio));
	--size-two-up: calc(var(--size-one-up)* var(--size-ratio));
	--size-one-up: calc( 1rem * var(--size-ratio));
	--size-one-down: calc( 1rem / var(--size-ratio));

	color: var(--color-primary-text);
	font-size: 18px;
	
}

main {
	max-width: 35rem;
	margin-left: auto;
	margin-right: auto;
}

main a {
	color: var(--color-action);
}
a {
	color: var(--color-primary-text);
	font-family: var(--font-secondary);
	font-weight: normal;
}

a:visted {
	color: var(--color-secondaery-text);
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: var(--color-action);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-secondary);
	font-weight: normal;
	line-height: 1.2;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: var(--color-action);
}

h1 {
	font-size: var(--size-five-up);
	font-weight: normal;
	margin: var(--margin-secondary);
}

h2 {
	color: var(--color-secondary-text);
	font-size: var(--size-four-up);

}

h3 {
	color: var(--color-secondary-text);
	font-size: var(--size-three-up);
}

h4 {
	font-size: var(--size-two-up);
		
}

h5 {
	font-size: var(--size-one-up);
}

h6 {
	font-size: var(--size-one-down);
}

p {
	font-family: var(--font-primary);
	line-height: 1.45;
}

footer a {
	color: var(--color-action);
}

footer {
	font-size: var(--size-one-down);
}

.primary-font {
	font-family: var(--font-primary);
	font-size: 2rem;
	font-weight: normal;
}

.secondary-font  {
	font-family: var(--font-secondary);
	font-size: 2rem;
}
/* ===========================================================
Header Component
============================================================ */
header {
	background-color: var(--color-primary);
	padding: 2rem;
}


header ul {
	list-style-type: none;
	margin:0;
	overflow: hidden;
	padding: 0;

}

header li {
	display: inline-block;
}

header li a {
	display: inline-block;
	padding: 1.5rem 2rem;
	text-align: center;
	text-decoration: none;
}

header a {
	text-decoration: none;
}

.logo {
	border: dashed 1px #E6E2DD;
	font-family: var(--font-secondary);
	font-size: var(--size-two-up);
	padding: .5rem 2rem;
}
/* ===========================================================
Footer Component
============================================================ */
footer {
	background-color: var(--color-secondary-two);
	padding: 1rem 1.5rem;
	text-align: right;
}


footer ul  {
	list-style-type: none;
}

footer li a {
	text-decoration: none;
}

/* ===========================================================
Examples
============================================================ */
.heading-example figcaption {
	text-align: right;
	font-size: var(--size-one-down);
	
}
.heading-example ul {
	list-style-type: none;
}

.feature-example {
	font-family: var(--font-primary);
	font-size: var(--size-two-up);
	line-height: 1.45;
}

.body-text-example {
	font-family: var(--font-primary);
	font-size: 1rem;
	margin: var(--margin-body);
}

.tertiary-example {
	font-family: var(--font-primary);
	font-size: var(--size-one-down);
	margin: var(--margin-body);
}

.unordered-list-example ul {
	font-style: var(--font-secondary);
	list-style-type: circle;
}

.unordered-list-example ul ul {
	font-family: var(--font-primary);
	list-style-type: square;
}

.ordered-list-example ol {
	font-style: var(--font-secondary);
	list-style-type: decimal-leading-zero;

}

.ordered-list-example ol ol {
	font-family: var(--font-primary);
	list-style-position: inside;
	list-style-type: lower-roman;
} 
